table {
    margin-top: 2rem;
    border-collapse: collapse;
    border: 1px solid black;
}

tr, td, th {
    border: 1px solid black;
    text-align: center;
}

th, td {
    width: 200px;
}

body {
    background-color: rgb(162, 193, 238);
}

